@model MvcStok.Models.Entity.TBLMusteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(x => x.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MusteriAd, "", new { style = "color:blue" })
        <br />
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MusteriSoyad" />
        <br />
    </div>
    <div>
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Müşteri Ekleme İşlemi Yapıldı...!');
        });
    </script>
</form>
